<div class="copyright">
  <% if (theme.license){ %>
  <div>
      <img src="<%= theme.license %>">
  </div="text">
  <% } %>

  <div class="text">Powered By
    <a href="https://hexo.io/">Hexo</a> | Theme <a href="https://github.com/zjx137/hexo-theme-Tsu">Tsu</a> &copy 2020
  </div>
</div>
